@font-face {
    font-display: swap;
    font-family: Open Sans;
    font-style: normal;
    font-weight: 300;
    src: url(/fonts-v1/OpenSans-Light.woff) format("woff")
}

@font-face {
    font-display: swap;
    font-family: Open Sans;
    font-style: normal;
    font-weight: 400;
    src: url(/fonts-v1/OpenSans-Regular.woff) format("woff")
}

@font-face {
    font-display: swap;
    font-family: Open Sans;
    font-style: normal;
    font-weight: 500;
    src: url(/fonts-v1/OpenSans-Medium.woff) format("woff")
}

@font-face {
    font-display: swap;
    font-family: Open Sans;
    font-style: normal;
    font-weight: 600;
    src: url(/fonts-v1/OpenSans-SemiBold.woff) format("woff")
}